.form-group {


}

.btn-primary {
  background-color: pink;
  color: black;
  border: none;
}

.btn-secondary {
  background-color: black;
  color: white;
  border: none;
}


.btn-primary:hover {
  background-color: black;
  color: white;
}

.btn-secondary:hover {
  background-color: pink;
  color: black;
}

.form-control:focus {
 border-color: pink;
 box-shadow: 0 0 10px pink;

}

